<div class="container htop">
  <h2 class="text-center">Книги</h2>

  <div class="panel-content">
    {{#if isLoading}}
      <div class="welcome-page">
        <img src="assets/images/loading.gif" alt="Loading">
      </div>
    {{else}}
    <ul class="row row-cols-1 row-cols-md-3 fix-margin">
      {{#each model as |book|}}
        {{book-item book=book}}
        {{outlet 'modal'}}
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>
