<div class="htop">
  <h2 class="text-center">Книги</h2>

  <div class="panel-content">
    {{#if isLoading}}
      <div class="welcome-page">
        <img src="assets/images/loading.gif" alt="Loading">
      </div>
    {{else}}
    <ul class="collection">
      {{#each model as |book|}}
        {{book-item tittle=book.tittle author=book.author idBook=book.id tagName='li'}}
      {{/each}}
    </ul>
    {{/if}}
  </div>
</div>
